body{
    background-color: rgb(11, 11, 61);
}
p{
    color: rgb(43, 214, 216);
}
label{
    color: aqua;
}
.Product{
    padding: 5px 20px;
}
.Product fieldset{
    margin: 20px 0;
}
button{
    margin: 5px;
    cursor: pointer;
}

h2{
    display: inline;
    margin: 5px;
}